*, *:before, *:after {
    box-sizing: inherit;
}

.hole{
    flex: 1 0 33.33%;
    border: black solid 1px;
    overflow: hidden;
    position: relative;

}
.game{
    width: 600px;
    height: 400px;
    border: black solid 1px;
    display: flex;
    flex-flow: row wrap;
}
.mole{
    width: 100px;
    height: 100px;
    border: red solid 1px;
    top: 100%;
    transition: all 0.4s;
    position: absolute;
}
.hole.up .mole{
    top:0;
}